.die {
    background-color: white;
    color: black;
    font-size: 3em;
    border-color: black;
    border-style: solid;
    height: 100px;
    width: 100px;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dice-container {
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color:teal;
    margin-left: 10em;
    padding: 1em;
    color: white;
    font-weight:400;
    font-size: 1em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

